footer {
  margin-top: 20px;
}

.copyright {
	//font-family:			"ProximaLight";
	font-size:				12px;
}

.copyright img {
	float:					left;
	margin-left:			8px;
}
.copyright p {
	float:					right;
	margin-right:			8px;
}

